matplotlib
fire==0.7.1
fsspec==2025.10.0
imageio==2.37.2
joblib==1.5.3
lazy-loader==0.5
medmnist==3.0.2
pandas==2.3.3
problog==2.2.9
pytz==2026.2
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.13.1
sympy==1.13.1
termcolor==3.1.0
threadpoolctl==3.6.0
tifffile==2024.8.30
tqdm==4.67.3
tzdata==2026.2